#Left
{
    -fx-background-color: #b07b31;
}

#Vbox
{
    -fx-background-color: #b07b31;
}

#Right
{
    -fx-background-color: #61c600;
}

#Menu
{
    -fx-background-color: #944602;
}

#Button
{
    -fx-background-color: #976a2c;
}